.section {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

content-section {
    margin: auto;
    padding-top: 100px;
    float: left;
    width: 55%;

}

image-section {
    float: right;
    width: 40%;
}

image-section img{
    height: auto;
    width: 60%;
    border-radius: 100px;
    margin-left: 100px;
}   

content h1{
    text-transform: uppercase;
    font-size: 900%;
    color: rgba(117, 185, 185, .8);
    letter-spacing: 5px;
}

content h3{
    margin-top: 0px;
    color: #cacaca;
    font-size: 300%;
    font-weight: 600;

}
.ada1 img{
    float: right;
    width: 40%;
    height: auto;
}

.title {
    float: left;
    width: 50%;
    border: none;
    padding: 40px;
    justify-content: center;
    color: rgba(117, 185, 185, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 0;
    font-size: 25px;   
}

figcaption {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
