.section {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
}

content-section {
    margin: auto;
    padding-top: 200px;
    float: left;
    width: 30%;

}

image-section {
    margin-top: 0px;
    float: right;
    width: 60%;
}

image-section img{
    height: auto;
    width: 70%;
    border-radius: 100px;
    margin-left: 200px;
}   

content h1{
    text-transform: uppercase;
    font-size: 600%;
    color: rgba(117, 185, 185, .8);
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
}

content h2{
    background-color:#3c3c3c;
    margin-top: 20px;
    margin-left: 30px;
    color: #cacaca;
    font-size: 200%;
    font-weight: 400;

}
.ada1 img{
    float: right;
    width: 60%;
    height: auto;
}

.title {
    float: left;
    width: 50%;
    border: none;
    padding: 40px;
    justify-content: center;
    color: rgba(117, 185, 185, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 0;
    font-size: 25px;   
}

figcaption {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
